@charset "ISO-8859-1";

.centeredColumnContent {
	text-align: center !important;
}

body {
	background-color: #EEE;
	margin: 0;
}

td.ui-panelgrid-cell {
	border: none !important;
}

.login-container {
	display: block;
	width: 370px;
	height: 370px;
	padding: 10px;
	margin: 10% auto 10% auto;
}

.register-container {
	display: block;
	width: 50%;
	height: 50vh;
	margin: 5% auto 10% auto;
}

#register-panel {
	display: block;
	width: 45%;
	height: 60vh;
	padding: 10px;
	margin: 5% auto 10% auto;
}

#register-form-container {
	width: 800px;
	margin: 0 auto;
	margin-top: 5.5rem;
	padding: 0.5rem;
}

#login-form-container {
	width: 300px;
	margin: 0 auto;
	margin-top: 1.5rem;
}

#login-panel {
	display: block;
	width: 370px;
	height: 370px;
	padding: 10px;
	margin: 10% auto 10% auto;
}

.ui-widget.login-title {
	margin-bottom: 5rem;
	display: block;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.register-grid {
	width: 50%;
	height: 370px;
	padding: 10px;
	margin: 5% auto 10% auto;
}

.ui-widget.register-title {
	margin-top: 2rem;
	margin-bottom: 2rem;
	display: block;
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
}

.input-span {
	margin-bottom: 2rem;
}

.input-item {
	width: 100%;
}

.register-btn {
	float: right;
}

.signup-btn {
	float: left;
}

.back-login-btn {
	float: right;
}

.ui-button-text {
	padding: 0.5rem 1rem !important;
}

.btn {
	width: 35%;
}