@charset "ISO-8859-1";

.centeredColumnContent {
	text-align: center !important;
}

body {
	background-color: #EEE;
	margin: 0;
}

#top-header {
	background: #449BCD;
	border-bottom: 1px solid #85b2cb;
	color: white;
	font-family: sans-serif;
	padding: 5px;
	height: 90px;
}

#header-logo {
	width: 300px;
	height: 68px;
	position: absolute;
	top: 12px;
}

#header-info {
	width: 230px;
	height: 65px;
	position: absolute;
	top: 31px;
	right: 12px;
}

.center {
	display: block;
	margin: 0 auto;
	width: 960px;
	padding: 10px;
}

#content {
	background-color: white;
}

#footer {
	text-align: center;
	font-family: sans-serif;
}

#top-menu .ui-menuitem.ui-widget.ui-corner-all:last-child {
	float: right;
}